.chess-pieces{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 29.5%;
    margin-right: 22%;
    margin-top: 5%;
    width: 45%;
    height: 100%;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

  .square {
    width: 4.5em;
    height: 4.5em;
    box-sizing: border-box;
  }